{% extends "base.html" %}

{% block page_title %}Dungeon excavator{% endblock %}

{% block content %}
<form action="map.svg" method="POST" enctype="multipart/form-data">
    <p>
    <label for="size">Tile size</label>
    <input
        id="size"
        name="size"
        type="number"
        min="0" step="1" value="100"
        required="true">
    </p>
    
    <p>
    <label for="floor">Floor texture</label>
    <input id="floor" name="floor" type="file" required="true">
    </p>
    
    <p>
    <label for="walls">Wall texture</label>
    <input id="walls" name="walls" type="file" required="true">
    </p>
    
    <p>
    <label for="floorplan">Floorplan</label>
    <input id="floorplan" name="floorplan" type="file" required="true">
    </p>
    
    <p>
    <button type="submit">Generate map</button>
    </p>
</form>
{% endblock %}
