{% extends "base.html" %}

{% block page_title %}Dungeon excavator{% endblock %}

{% block content %}
<form>
    <p>
    <label for="size">Tile size</label>
    <input id="size" type="number" min="0" step="1" value="100">
    </p>
    
    <p>
    <label for="floor">Floor texture</label>
    <input id="floor" type="file" required="true">
    </p>
    
    <p>
    <label for="walls">Wall texture</label>
    <input id="walls" type="file" required="true">
    </p>
    
    <p>
    <label for="floorplan">Floorplan</label>
    <input id="floorplan" type="file" required="true">
    </p>
    
    <p>
    <button type="submit">Generate map</button>
    </p>
</form>
{% endblock %}
